# --- .NET (Backend) ---
**/bin/
**/obj/
*.user
*.suo
*.sln.docstates

# Rider
.idea/

# --- Node (Frontend) ---
frontend/node_modules/
frontend/build/
frontend/.env

# --- OS/Tooling crap ---
.DS_Store
Thumbs.db
